@using Presentation.Panel.Models;
@using Presentation.Panel.Helpers;
@using Asset.Infrastructure.Common;

@model AdminViewModel

@{
    ViewBag.Title = "مشخصات مدیر";
    if (Model != null)
    {
        ViewBag.Title = "مشخصات «" + Model.FullName + "»";
    }
}

<section class="content">
    <hr />
    <div>
        <dl class="dl-horizontal">

            <dt>
                @{
                    var original = string.IsNullOrWhiteSpace(Model.Avatar) ? "" : Model.Avatar.Trim();
                    if (string.IsNullOrWhiteSpace(original))
                    {
                        switch (Model.Gender)
                        {
                            case GeneralEnums.Gender.Female:
                                original = "/Images/avatar3.png";
                                break;
                            case GeneralEnums.Gender.Male:
                                original = "/Images/avatar5.png";
                                break;
                            default:
                                original = "/Images/avatar-anonymous.png";
                                break;
                        }
                    }
                    var src = original + "?w=80&h=80&mode=crop";
                }
                <a href="@original" target="_blank" title="مشاهده تصویر در ابعاد واقعی">
                    <img class="avatar-mini" src="@src" width="80" height="80" alt="" />
                </a>
                <br /><br />
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GenderTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenderTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoleTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdaterName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdaterName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastLogin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastLogin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusTitle)
            </dd>

        </dl>

        <div class="form-actions no-color">
            @using (Html.BeginForm())
            {
                if (Model.Id != AdminHelper.AdminId)
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })@Html.HiddenFor(model => model.PreviousUrl)
                    @Html.AntiForgeryToken()
                    <input type="submit" value="حذف کن" class="btn btn-danger" />
                    @Html.Raw("&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;")
                    @Html.ActionLink("گذرواژه جدید", "ResetPassword", new { id = Model.Id }, new { @class = "btn btn-warning" })
                }
                @Html.Raw("&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;")
                if (string.IsNullOrEmpty(Model.PreviousUrl))
                {
                    @Html.ActionLink("لیست ادمین ها", "Index", null, new { @class = "btn btn-default" })
                }
                else
                {
                    <a href="@Model.PreviousUrl" class="btn btn-default">لیست مسابقه ها</a>
                }
            }
        </div>
    </div>
</section>
